<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="app"></div>
    hello index
    <script  src="build/app.bundle.js"/>
  </body>
</html>
